table.board{
	table-layout:fixed;
	border:solid #333 5px;
	border-collapse: collapse;
}
td.inboard{
	text-align:center;
	height: 40px;
	width : 40px;
	border:solid #333 3px;
}
img.notouch{
	vertical-align: middle;
	user-select: none;
	pointer-events: none;
}